/** @format */

:root {
	--primary: #2892ad;
	--primaryHover: #36acca;
	--primaryActive: #247e90;

	--secondary: #2a5f57;
	--secondaryHover: #3a7d74;
	--secondaryActive: #1f4a43;

	--depth0: #202020;
	--depth1: #2a2a2a;
	--depth2: #3a3a3a;
	--depth3: #3f3f3f;

	--textPrimary: rgb(213, 213, 213);

	--rounded: 5px;
	--roundedLg: 10px;

	--scale: 1;
	--fontSizeScale: 1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-style: none;
	font-family: 'JetBrains Mono', monospace;
	color: var(--textPrimary);
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--depth0);
}

a {
	color: var(--primary);
}

*:focus {
	outline-color: var(--secondary);
	outline-width: 0.15rem;
	outline-style: solid;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	border-radius: var(--rounded);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: var(--rounded);
}

#canvas {
	height: 100%;
	width: 100%;
	object-fit: contain;
	image-rendering: pixelated;
}

/*
┌───────────────┐
│   Site Info   │
└───────────────┘
*/

.info {
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: calc(1.2rem * var(--fontSizeScale));
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.info > p {
	max-width: calc(96rem * var(--scale));
	text-align: center;
}

h1 {
	width: fit-content;
	font-size: calc(5rem * var(--fontSizeScale));
	background: linear-gradient(25deg, rgba(12, 127, 157, 1) 0%, rgba(122, 255, 235, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*
┌──────────────────┐
│   Main Content   │
└──────────────────┘
*/

main {
	height: 100%;
}

.bottom {
	height: 75%;
	display: grid;
	grid-template-columns: 1fr calc(24rem * var(--scale)) 1fr;
	grid-template-rows: calc(32rem * var(--scale));
}

.bottom > div {
	width: 100%;
	height: 100%;
}

.inputImage {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.inputImage > label,
.outputImage > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: calc(32rem * var(--scale));
	height: calc(32rem * var(--scale));
	font-size: calc(1.6rem * var(--fontSizeScale));
	border: 0.2rem dashed var(--primary);
	border-radius: var(--roundedLg);
	background-color: var(--depth1);
	cursor: pointer;
}

.inputImage > input {
	display: none;
}

.inputImage > label > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.inputImage > label > svg {
	width: calc(8rem * var(--scale));
	height: calc(8rem * var(--scale));
}

.inputImageFooter,
.outputImageFooter {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding-top: 1rem;
	gap: calc(1rem * var(--scale));
}

.inputImageFooter:first-child {
	width: calc(32rem * var(--scale));
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.inputImageFooter > div > button,
.outputImageFooter > div > button {
	padding: 0.4rem;
	font-size: calc(1.4rem * var(--fontSizeScale));
	background-color: var(--primary);
	border-radius: var(--rounded);
}

.inputImageFooter > div > button:hover,
.outputImageFooter > div > button:hover {
	background-color: var(--primaryHover);
}

.inputImageFooter > div > button:active,
.outputImageFooter > div > button:active {
	background-color: var(--primaryActive);
}

.inputImageInfo {
	width: calc(32rem * var(--scale));
	font-size: calc(1.4rem * var(--fontSizeScale));
	display: flex;
	flex-direction: column;
	align-items: center;
}

#scaleControls {
	width: calc(32rem * var(--scale));
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.selected {
	background-color: var(--secondaryActive) !important;
}

.transformSection {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.arrows > img {
	width: calc(3.6rem * var(--scale));
	height: calc(3.6rem * var(--scale));
}

#transform {
	padding: 0.5rem;
	font-size: calc(2rem * var(--fontSizeScale));
	background: linear-gradient(15deg, rgba(12, 127, 157, 1) 40%, rgba(122, 255, 235, 1) 100%);
	border-radius: var(--rounded);
}

#transform:hover {
	cursor: pointer;
}

.outputImage {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.outputImage > div {
	gap: 0;
}

.outputImageFooter {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	align-items: flex-start;
}

.outputImageFooter > div {
	width: calc(32rem * var(--scale));
	display: flex;
	justify-content: center;
	align-items: center;
}

#firstArrow {
	animation: arrowsTransforming 1.8s infinite;
}

#secondArrow {
	animation: arrowsTransforming 1.8s infinite;
	animation-delay: 0.2s;
}

#thirdArrow {
	animation: arrowsTransforming 1.8s infinite;
	animation-delay: 0.4s;
}

.disableAnimation {
	animation: none !important;
}

@keyframes arrowsTransforming {
	0% {
		filter: opacity(0);
		transform: translateY(-0.15rem);
	}
	50% {
		filter: opacity(1);
		transform: translateY(0rem);
	}
	100% {
		filter: opacity(0);
		transform: translateY(-0.15rem);
	}
}

@media (max-width: 1599px) or (max-height: 999px) {
	:root {
		--scale: 0.9;
		--fontSizeScale: 0.9;
	}
}

@media (max-width: 1399px) or (max-height: 849px) {
	:root {
		--scale: 0.8;
	}
}

@media (max-width: 1299px) or (max-height: 749px) {
	:root {
		--fontSizeScale: 0.8;
		--scale: 0.7;
	}
}

@media (max-width: 1169px) or (max-height: 649px) {
	:root {
		--scale: 0.6;
	}
}

@media (max-width: 1069px) or (max-height: 579px) {
	:root {
		--scale: 0.5;
	}
}
