/** @format */

:root {
	--primary: #2892ad;
	--primaryHover: #36acca;
	--primaryActive: #247e90;

	--secondary: #2a5f57;
	--secondaryHover: #3a7d74;
	--secondaryActive: #1f4a43;

	--depth0: #202020;
	--depth1: #2a2a2a;
	--depth2: #3a3a3a;
	--depth3: #3f3f3f;

	--textPrimary: rgb(213, 213, 213);

	--rounded: 5px;
	--roundedLg: 10px;

	--scale: 32rem;
	--tdScale: 0.2rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-style: none;
	font-family: 'JetBrains Mono', monospace;
	color: var(--textPrimary);
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--depth0);
}

a {
	color: var(--primary);
}

table {
	border-collapse: collapse;
}

tr {
	height: 0.02px;
}

td {
	font-size: 0.5px;
	width: var(--tdScale);
	height: var(--tdScale);
}

*:focus {
	outline-color: var(--secondary);
	outline-width: 0.15rem;
	outline-style: solid;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	border-radius: var(--rounded);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: var(--rounded);
}

#canvas {
	width: 100%;
	height: 100%;
}

/*
┌───────────────┐
│   Site Info   │
└───────────────┘
*/

.info {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	width: fit-content;
	font-size: 4rem;
	background: linear-gradient(25deg, rgba(12, 127, 157, 1) 0%, rgba(122, 255, 235, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*
┌──────────────────┐
│   Main Content   │
└──────────────────┘
*/

main {
	height: 100%;
}

.bottom {
	height: 60%;
	display: grid;
	grid-template-columns: 1fr 24rem 1fr;
}

/* Image Input Section */
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.inputImage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
}

#inputImage {
	display: none;
}

#inputImageLabel {
	width: var(--scale);
	height: var(--scale);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: calc(1.6rem * (var(--scale) / 32rem));
	gap: 1rem;
	border: 0.2rem dashed var(--primary);
	border-radius: var(--roundedLg);
	cursor: pointer;
	background-color: var(--depth1);
}

#inputImageSvg {
	width: 6rem;
	height: 6rem;
}

.scaleControls {
	width: var(--scale);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.scaleControls > button {
	padding: 0.3rem;
	border-radius: var(--rounded);
	background-color: var(--primary);
	font-size: 1.2rem;
	cursor: pointer;
}

.scaleControls > button:hover {
	background-color: var(--primaryHover);
}

.scaleControls > button:active {
	background-color: var(--primaryActive);
}

.selected {
	background-color: var(--secondaryActive) !important;
}

#inputImageInfo {
	width: var(--scale);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(21px * 2);
}

/* Transform section */
.transformSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#transform {
	padding: 0.5rem;
	font-size: 1.6rem;
	background: linear-gradient(25deg, rgba(12, 127, 157, 1) 0%, rgba(122, 255, 235, 1) 100%);
	border-radius: var(--rounded);
}

.arrows > * {
	width: 2.6rem;
	height: 2.6rem;
}

/* Output section */
.output {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.aspectRatio {
	width: 32rem;
	height: 32rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/*
┌────────────────┐
│   Animations   │
└────────────────┘
*/

#firstArrow {
	animation: arrowsTransforming 1.8s infinite;
}

#secondArrow {
	animation: arrowsTransforming 1.8s infinite;
	animation-delay: 0.2s;
}

#thirdArrow {
	animation: arrowsTransforming 1.8s infinite;
	animation-delay: 0.4s;
}

@keyframes arrowsTransforming {
	0% {
		filter: opacity(0);
		transform: translateY(-0.15rem);
	}
	50% {
		filter: opacity(1);
		transform: translateY(0rem);
	}
	100% {
		filter: opacity(0);
		transform: translateY(-0.15rem);
	}
}

@media (max-width: 1699px) {
	:root {
		--scale: 26rem;
	}
}

@media (max-width: 1499px) {
	:root {
		--scale: 24rem;
	}
}

@media (max-width: 1229px) {
	:root {
		--scale: 18rem;
	}

	.scaleControls > button {
		padding: 0.2rem;
		font-size: 1rem;
	}

	#inputImageInfo {
		font-size: 0.8rem;
	}

	.scaleControls {
		gap: 0.5rem;
	}
}
