* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #272727;
}

#cat, #canvas {
    width: 24rem;
    height: auto;
}

table {
    border-collapse: collapse;
}

td {
    width: 5px;
    height: 5px;
}