.main {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.info {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.converter {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.credentials {
  --margin: 0.6rem;

  grid-column: 1 / 4;
  grid-row: 3 / 4;

  align-self: flex-end;
  justify-self: flex-end;
  margin-right: var(--margin);
  margin-bottom: var(--margin);
}